<div class="container-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="form-header-left">
            Welcome!
        </h1>

        <div formGroupName="data" class="form-group">

            <mat-form-field>
                <mat-label>I`m a ...</mat-label>
                <mat-select [formControl]="userType">
                    <mat-option *ngFor="let userType of userTypes" [value]="userType.label">
                        {{userType.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="userType.touched && userType.invalid">
                    This field is required
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Your email ...</mat-label>
                <input matInput type="email" [formControl]="email">
                <mat-error *ngIf="email.touched && email.invalid">
                    Type a valid email
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>
                    Password gonna be...
                </mat-label>
                <input matInput type="password" [formControl]="password">
                <mat-error *ngIf="password.touched && password.invalid">
                    Make sure your password has at least eight chars
                </mat-error>
            </mat-form-field>

        </div>

        <mat-form-field>
            <mat-label>Confirm your password</mat-label>
            <input matInput type="password" [formControl]="confirmPassword">
            <mat-error *ngIf="confirmPassword.touched && confirmPassword.invalid">
                Passwords should be equal
            </mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit" class="submitter" [disabled]="form.invalid">Become a patron</button>
    </form>
</div>
