.container-center {
  padding: 50px 150px;
}

.form-group {
  width: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;

  .form-header-left {
    justify-self: flex-start;
    width: 100%;
    padding-bottom: 30px;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
}
