@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "colors";
@import "util";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

body {
  background: url("assets/back-alt.png") repeat;
}

.container-center {
  width: 100%;

  display: flex;

  align-self: center;
  justify-self: center;

  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.spacer {
  display: flex;
  flex: 1;
}
