<div class="page-center" *ngIf="!loaded">
    <mat-spinner diameter="40">
    </mat-spinner>
</div>
<div class="container-center" *ngIf="loaded">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="form-header-left">
            {{viewModel.name}}
        </h1>

        <mat-vertical-stepper formArrayName="questions">
            <mat-step *ngFor="let question of viewModel.questions;index as i"
                      [label]="question.content"
                      [formGroupName]="i">

                <mat-list formArrayName="answers">
                    <mat-list-item *ngFor="let answer of question.answers;index as j"
                                   [formGroupName]="j">

                        <mat-label style="margin-right: 15px">
                            {{answer.content}}
                        </mat-label>
                        <mat-checkbox matTooltip="Mark as correct"
                                      formControlName="isCorrect"
                                      color="primary">
                        </mat-checkbox>
                        <mat-divider [inset]="true"></mat-divider>
                    </mat-list-item>
                </mat-list>

            </mat-step>
        </mat-vertical-stepper>


        <div class="submitter-container">
            <button mat-raised-button type="submit" [disabled]="isSent">
                Complete the test
            </button>
        </div>
    </form>
</div>
