form {
  width: 50%;
  padding-top: 15px;

  .form-header-left {
    justify-self: flex-start;
    width: 100%;
    padding-bottom: 15px;
  }
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.form-array, .form-group {
  width: 100%;
}

.submitter-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

