<div class="container-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="form-header-left">
            Creating a test...
        </h1>

        <mat-vertical-stepper linear="false" #stepper>

            <mat-step label="General information" [completed]="name.valid && time.valid" #generalStep>
                <mat-form-field>
                    <mat-label>Test name</mat-label>
                    <input matInput type="text" [formControl]="name">
                    <mat-error *ngIf="name.touched && name.invalid">
                        Give a describing name to your test!
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Pass time (in minutes)</mat-label>
                    <input matInput type="number" [formControl]="time" min="1">
                    <mat-error *ngIf="time.touched && time.invalid">
                        Time is required and should be greater than one minute
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Tags</mat-label>

                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let tag of tags" removable="true" (removed)="removeTag(tag)">
                            {{tag.content}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>

                    <input placeholder="Add tag..."
                           [matChipInputFor]="chipList"
                           [matChipInputSeparatorKeyCodes]="[9, 13, 32]"
                           (matChipInputTokenEnd)="addTag($event)">
                </mat-form-field>
            </mat-step>

            <mat-step #questionsStep [completed]="questions.valid">
                <ng-template matStepLabel>
                    <div class="mat-label">
                        <span click-stop-propagation>Questions</span>

                        <div class="spacer"></div>

                        <div class="mat-label-actions" *ngIf="stepper.selected == questionsStep">
                            <button type="button"
                                    matTooltip="Add question"
                                    mat-icon-button color="primary" (click)="addQuestion()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-template>


                <mat-vertical-stepper formArrayName="questions">
                    <mat-step *ngFor="let question of questions.controls;let i=index" [formGroupName]="i">

                        <ng-template matStepLabel>
                            <div class="mat-label">
                                <span click-stop-propagation>Question {{ i + 1 }}</span>

                                <div class="spacer"></div>

                                <div class="mat-label-actions">
                                    <button type="button"
                                            matTooltip="Add answer"
                                            mat-icon-button color="primary" (click)="addAnswer(i)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <button type="button"
                                            matTooltip="Remove question"
                                            mat-icon-button color="warn" (click)="removeQuestion(i)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </ng-template>

                        <mat-form-field>
                            <mat-label>Ask something about...</mat-label>
                            <textarea cdkTextareaAutosize
                                      cdkAutosizeMinRows="1.5"
                                      matInput
                                      formControlName="content"></textarea>
                            <mat-error>
                                Provide a nice question!
                            </mat-error>
                        </mat-form-field>

                        <div formArrayName="answers" class="form-array">
                            <div *ngFor="let answer of answersAt(i).controls;let j=index" [formGroupName]="j">
                                <mat-form-field appearance="standard">
                                    <mat-label>
                                        Answer {{j + 1}}
                                    </mat-label>

                                    <div class="combined-input">
                                        <textarea cdkTextareaAutosize
                                                  cdkAutosizeMinRows="1.5"
                                                  matInput type="text" formControlName="content"></textarea>
                                        <div class="action-group">
                                            <mat-checkbox matTooltip="Mark as correct" formControlName="isCorrect"
                                                          color="primary">
                                            </mat-checkbox>
                                            <button type="button" matTooltip="Remove answer" mat-icon-button
                                                    color="warn"
                                                    (click)="removeAnswer(i, j)">
                                                <mat-icon>remove</mat-icon>
                                            </button>
                                        </div>
                                    </div>

                                    <mat-error *ngIf="false">
                                        Answer can not be empty
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                    </mat-step>

                </mat-vertical-stepper>
            </mat-step>


            <mat-step label="Summarize and submit" [completed]="form.valid" class="summary">

                <mat-chip-list class="summary-list">
                    <mat-chip *ngIf="name.valid">
                        <p>
                            <span class="bold">
                                {{name.value}}
                            </span> is a good name!
                        </p>
                    </mat-chip>
                    <mat-chip *ngIf="name.invalid" (click)="stepper.selected = generalStep;">
                        <p>
                            Name is <span class="bold">{{name.value ? name.value : 'empty'}}</span>, needs to be revised
                        </p>
                    </mat-chip>

                    <mat-chip *ngIf="time.valid">
                        <p>
                            Needs <span class="bold">{{time.value}}</span> minutes to be completed
                        </p>
                    </mat-chip>
                    <mat-chip color="warn" *ngIf="time.invalid">
                        <p *ngIf="time.value">
                            Is <span class="bold">{{name.value}}</span> a minute value?
                        </p>
                        <p *ngIf="!time.value">
                            No time specified
                        </p>
                    </mat-chip>

                    <mat-chip>
                        <p>
                            <span class="bold">{{questions.length}}</span> questions in total
                        </p>
                    </mat-chip>

                    <mat-chip>
                        <p>
                            <span class="bold">{{totalAnswersCount}}</span>
                            answers in total
                        </p>
                    </mat-chip>

                    <mat-chip>
                        <p *ngIf="tags.length == 0">
                            No tags given
                        </p>
                        <p *ngIf="tags.length > 0">
                            {{tags.length}} tag assigned
                        </p>
                    </mat-chip>
                </mat-chip-list>

                <div class="submitter-container">
                    <button [matTooltip]="submitTooltip" mat-raised-button type="submit" 
                            [disabled]="form.invalid || isSent">
                        Submit this peace of test!
                    </button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </form>
</div>
