$back-header: #673ab7;
$text-header: white;

header {
	padding: 10px;
	color: $text-header;
	background-color: $back-header;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.nav-link-text {
	padding-right: 5px;
}

.nav-link-icon {
	color: white;
	padding: 0;
}

a {
	color: white;
}
